<!-- templates/mailing/message_form.html -->
{% extends 'base_generic.html' %}

{% block title %}Create Message{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <h2>Create Message</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if can_save %}
    <button type="submit" class="btn btn-primary">Save</button>
    {% endif %}
    <a href="{% url 'mailing:message_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}