{% extends 'base_generic.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <h2>User List</h2>
  <ul>
    {% for user in users %}
      <li>
        {{ user.username }} ({{ user.email }})
        {% if user.is_active %}
          <a href="{% url 'mailing:block_user' user.id %}">Block</a>
        {% else %}
          <a href="{% url 'mailing:unblock_user' user.id %}">Unblock</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}